<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MalKurteshi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E93017E1F163D8F00578FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E9301921F163D9000578FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E93019D1F163D9000578FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
